body {
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    min-height: 100vh;
    font-size: 18px;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: hsl(315,63%,26%);
    color: white;
    display: flex;
    align-items: center;
    padding: 16px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    margin-left: 190px;
}

ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
    margin-right: 190px;
}

ul.nav-header {
    margin-left: auto;
}

a {
    text-decoration: none;
    color: white;
}

.content {
    flex: 1;
}

button {
    padding: 8px 32px;
    border-radius: 10px;
    border: none;
    font-size: 18px;
    font-weight: 600;
}

.hero-container {
    background-color: hsl(315,63%,26%);
    color: white;
    padding: 110px 140px;
    display: flex;
    justify-content: space-around;
}

.hero-left {
    width: 450px;
}

.button-1 {
    background: hsl(37,91%,55%);
    color: white;
    margin: 8px 0;
}

.hero-main {
    font-size: 48px;
    font-weight: 900;
}

img {
    height: 225px;
    width: 450px;
    object-fit: cover;
}

.footer {
    background-color: hsl(315,63%,26%);
    color: white;
    padding: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}